@mixin before_circle {
    &::before {
        content:'';
        position: absolute;
        width: 36px;
        height: 36px;
        z-index: -1;
        background: $main_color;
        border-radius: 100%;
        top:-25%;
        left:0px; 
        }
}
