.resume {
    position: relative;
    &__title {
        text-align: center;
        @include before_circle;
        &:before {
            top: -5px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &__subtitle {
        text-align: center;
    }
    &__wrapper {
        padding: 60px 0px 0px 83px;
        display: grid;
        grid-template-columns: repeat(2, 425px);
        column-gap: 136px;
        ul {
            list-style: none;
            li {
                position: relative;
                padding-top: 45px;
                &:after {
                    content: '';
                    position: absolute;
                    width: 0px;
                    height: 100%;
                    border: 1px solid #000000;
                    top: -13px;
                    left: 0px;
                }
            }
        }
    }
    &__columns {
        &-title {
            position: relative;
            padding-left: 35px;
            @include before_circle_lit;
        }
    }
    &__item {
        &-head {
            padding-left: 100px;
            position: relative;
        }
        &-text {
            padding-left: 43px;
            padding-top: 12px;
        }
        &-icon {
            position: absolute;
            left: 66px;
            top: 12px;
        }
        &-desc {
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;

        }
        &-subheader {
            margin-bottom: 0;
            @include before_circle;
                &:before {
                    top: 2px;
                    left: 45px;
                }
                &:after {
                    content: '';
                    position: absolute;
                    width: 45px;
                    height: 0;
                    border: 1px solid #000;
                    top: 19px;
                    left: 0px;
                }
        }

    }
}
