//add to style.min.css
/* html::-webkit-scrollbar {
    width: 16px;
    height: 6px;
}
html::-webkit-scrollbar-thumb {
    background:#fdf035;
    border-radius: 16px;
    box-shadow: inset 2px 2px 2px hsl(0deg 0% 100% / 25%), inset -2px -2px 2px rgb(0 0 0 / 25%);
}
html::-webkit-scrollbar-track {
    background:rgb(155, 216, 224); 
} */