.skills {
    position: relative;
    &__title {
        text-align: center;
        @include before_circle;
        &:before {
            top: -5px;
            left: 50%;
            transform: translateX(-50%);
        } 
    }
    &__subtitle {
        text-align: center;
    }
    &__wrapper {
        padding: 60px 10px 121px 10px;
        display: grid;
        grid-template-columns: repeat(4, 270px );
        grid-template-rows: repeat(2, 270px);
        gap: 13px;
    }
    &__item {
        padding: 30px 30px 25px 30px; 
        border: 1px solid #000000;
        box-sizing: border-box;
    }
    &__header {
        margin-top: 20px;
    }
    &__desc {
        margin-top: 15px;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        color: #000000;
    }
}