.skills {
    position: relative;
    &__title {
        text-align: center;
        @include before_circle;
        &:before {
            top: -5px;
            left: 50%;
            transform: translateX(-50%);
        } 
    }
    &__subtitle {
        text-align: center;
    }
    &__wrapper {
        padding: 60px 10px 121px 10px;
        display: grid;
        grid-template-columns: repeat(4, 270px );
        grid-template-rows: repeat(2, 270px);
        gap: 13px;
    }
    &__item {
        padding: 30px 30px 25px 30px; 
        border: 1px solid #000000;
        box-sizing: border-box;
        &_filter {
            filter: blur(1px);
            &_b4 {
                filter: blur(4px);
            }
        }
    }
    &__header {
        margin-top: 20px;
    }
    &__desc {
        margin-top: 15px;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        color: #000000;
    }
    &__progress{
        &-wrapper{
          display: grid;
          grid-template-columns:  repeat(3, 350px);
          grid-template-rows: repeat(2, 70px);
          gap: 30px 45px;
        }
        &-header {
            width: 350px;
            display: flex;
            justify-content: space-between;
        }
        &-desc {
            position: relative;
            margin-top: 8px;
            margin-left: 14px;
            @include before_circle;
                &:before{
                    top: -30%;
                    left: -15px;
                }
        }
        &-bar{
            width: 350px;
            height: 14px;
            margin-top: 27px;
            background: #E8E4DE;
            border-radius: 4px;
        }
        &-status {
            width: 350px;
            height: 14px;
            border-radius: 4px;
            span {
                display: block;
                background: $main_color;
                height: 14px;
                width: 0px;
            }
            
        }
    }
}