.title {
    font-family: Poppins;
    font-weight: 700;
    font-size: 36px;
    color: #000000;
    &_fz20{
        font-size: 20px;
        line-height: 24px;
    }
    &_fz48 {
        font-size: 48px;
        line-height: 60px;
    }
    &_fz14 {
        font-size: 14px;
    }
    
}
